[Desktop Entry]
Type=Application
Name=Charge Settings
GenericName=Battery Monitor
Comment=Run as root to monitor the battery and change charging settings
Exec=jk-charge-gui
Icon=battery
Terminal=false
Categories=System;Monitor;
Keywords=battery;charge;charging;power;health;watt;
